/* Global Styles, which apply to all elements on the page */
* {
    /* Remove default margins and padding from all elements */
    margin: 0;
    padding: 0;

    /* Use the border-box model to include padding and borders in the width and height of elements */
    box-sizing: border-box;

    /* Set the font family for all elements */
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 220px;
    background-color: #f9f9f9; /* Sidebar gray background */
    padding: 20px;
    height: 100vh; /* Ensure it fills the entire viewport (page from top to bottom) */
}

.sidebar .logo h2 {
    font-size: 24px;
    color: #E9876A;
    margin-bottom: 20px;
}

/* Sidebar navigation list */
.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    padding: 10px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.sidebar nav ul li.active {
    color: #E9876A;
    font-weight: bold;
}

/* Sidebar button styles */
.sidebar nav ul li button,
.sidebar-bottom ul li button {
    width: 100%; /* Make the buttons fill the sidebar width */
    padding: 15px;
    border: none;
    background: none;
    text-align: left;
    font-size: 16px;
    color: #555; /* Default text color */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
}

.sidebar nav ul li button:hover,
.sidebar-bottom ul li button:hover {
    background-color: #E9876A; /* Background color on hover */
    color: white; /* Text color on hover */
    border-radius: 5px; /* Rounded corners */
}

.sidebar nav ul li button:focus {
    background-color: #E9876A; /* Background color on focus */
    color: white; /* Text color on focus */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
}

.sidebar nav ul li.active button {
    background-color: #E9876A; /* Background color for the active button */
    color: white;
    font-weight: bold; /* Emphasize active button */
    border-radius: 5px;
}

.sidebar .badge {
    background: #E9876A;
    color: #fff;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    color: #333;
}